/* Base Styles */
* {
	box-sizing: border-box;
	margin: 0, auto;
}

body {
	font-family: var(--font-body);
	color: var(--color-text-dark);
	line-height: 1.6;
	background-color: var(--color-cream-light);
}

h1, h2, h3, h4, h5, h6 {
	color: inherit;
	font-family: var(--font-heading);
}

h2 {
	color: var(--color-secondary) !important;
}

p {
	font-family: -apple-system, BlinkMacSystemFont !important!;
}
#page-wrapper {
	align-items: center;
}
