/* Pet Section */
.pet-hero {
	background-color: var(--color-cream-warm);
}

.pet-hero .hero-text h1.name {
	color: var(--color-secondary);
}

.pet-hero .hero-text h1.title {
	font-weight: 400;
	opacity: 0.9;
}

.pet-hero .hero-description {
	max-width: 550px;
}

p.fun-fact {
	font-size: 1rem;
	color: var(--color-secondary);
	margin-bottom: 0;
	max-width: 800px;
}